header {
  display: block;
  position: relative;
  overflow: hidden;
  //  opacity: 0;
  //  display: flex;
  //  position: relative;

  //  overflow: hidden;
  width: 100%;
  height: 80px;
  background-color: #fff;

  @media (max-width: 414px) {
    height: 70px;
  }

  //  transition: all 1.2s ease 0s;

  //  align-items: center;
  //  justify-content: space-between;
  //  box-sizing: border-box;
  .header {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    @media (max-width: 414px) {
      height: 70px;
    }

    .logo {
      position: relative;
      width: 130px;
      height: 50px;

      @media (max-width: 414px) {
        width: 100px;
        height: 40px;
      }

      img {
        width: 130px;
        height: 50px;

        @media (max-width: 414px) {
          width: 100px;
          height: 40px;
        }
      }

      h1 {
        position: absolute;
        left: -99999999px;
      }
    }

    .menu {
      display: flex;
      align-items: center;
      position: relative;
      margin: 0 0 0 50px;

      @media (max-width: 1032px) {
        margin: 0 0 0 10px;
      }

      @media (max-width: 768px) {
        display: none;
      }

      li {
        margin: 0 10px 0 10px;
        @include styleP;
        font-weight: 500;
        color: #000;
        cursor: pointer;

        @media (max-width: 1032px) {
          font-size: 14px;
        }

        &:hover {
          color: #a2a2a2;
        }
      }
    }

    .social {
      display: flex;
      align-items: center;

      @media (max-width: 414px) {
        display: none;
      }

      li {
        margin: 0 5px 0 5px;

        .icon-facebook {
          display: block;
          position: relative;
          overflow: hidden;
          width: 13px;
          height: 20px;
          background-image: url(/images/icon-facebook.png);
          background-repeat: no-repeat;
          transition-duration: 0.7s;

          @media (max-width: 540px) {
            width: 10px;
            height: 17px;
          }

          &:hover {
            background-image: url(/images/icon-facebookTwoColor.png);
          }


        }

        .icon-inst {
          display: block;
          position: relative;
          overflow: hidden;
          width: 20px;
          height: 20px;
          background-image: url(/images/icon-inst.png);
          background-repeat: no-repeat;
          transition-duration: 0.7s;

          @media (max-width: 540px) {
            width: 17px;
            height: 17px;
          }

          &:hover {
            background-image: url(/images/icon-instTwoColor.png);
          }


        }

        .icon-link {
          display: block;
          position: relative;
          overflow: hidden;
          width: 20px;
          height: 20px;
          background-image: url(/images/icon-link.png);
          background-repeat: no-repeat;
          transition-duration: 0.7s;

          @media (max-width: 540px) {
            width: 17px;
            height: 17px;
          }

          &:hover {
            background-image: url(/images/icon-linkTwoColor.png);
          }


        }

        .icon-flover {
          display: block;
          position: relative;
          overflow: hidden;
          width: 20px;
          height: 20px;
          background-image: url(/images/icon-flover.png);
          background-repeat: no-repeat;
          transition-duration: 0.7s;

          @media (max-width: 540px) {
            width: 17px;
            height: 19px;
          }

          &:hover {
            background-image: url(/images/icon-floverTwoColor.png);
          }


        }

        .icon-google {
          display: block;
          position: relative;
          overflow: hidden;
          width: 20px;
          height: 20px;
          background-image: url(/images/icon-google.png);
          background-repeat: no-repeat;
          transition-duration: 0.7s;

          @media (max-width: 540px) {
            width: 17px;
            height: 17px;
          }

          &:hover {
            background-image: url(/images/icon-googleTwoColor.png);
          }


        }
      }


      //    :first-child {
      //      a {
      //        height: 16px;
      //        width: 9px;
      //
      //        img {
      //          height: 16px;
      //          width: 9px;
      //        }
      //      }
      //    }
      //
      //    li {
      //      margin: 0 10px 0 10px;
      //
      //      a {
      //        height: 16px;
      //        width: 16px;
      //
      //        img {
      //          height: 16px;
      //          width: 16px;
      //        }
      //      }
      //    }
    }

    .buttonMenu {
      position: relative;
      display: none;
      flex-direction: column;
      justify-content: space-around;
      width: 32px;
      height: 32px;
      //      border: 1px solid #000;
      box-sizing: border-box;

      @media (max-width: 768px) {
        display: flex;
      }


      .topBut {
        display: block;
        position: relative;
        width: 30px;
        height: 3px;
        background-color: #000;
        transition: all 0.3s ease 0s;
        //        transform: rotate(45deg);
        //        top: 8px;
      }

      .centerBut {
        display: block;
        position: relative;
        width: 30px;
        height: 3px;
        background-color: #000;
      }

      .buttomBut {
        display: block;
        position: relative;
        width: 30px;
        height: 3px;
        background-color: #000;
        transition: all 0.3s ease 0s;

        //        transform: rotate(-45deg);
        //        bottom: 8px;
      }
    }
  }

  .headerMobileMenu {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: auto;
    display: none;

    @media (max-width: 414px) {
      top: 70px;
    }

    .mobMenu {
      position: fixed;
      top: 0px;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 80px 0 0 0;
      width: 100%;
      height: 100%;
      box-shadow: 0px 5px 10px black;
      z-index: 22;
      background-color: #fff;
      overflow: hidden;

      @media (max-width: 414px) {
        margin: 70px 0 0 0;
      }


      .mobMenutxt {
        @include styleP;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        z-index: 25;
        align-items: center;
        position: relative;

        li {
          cursor: pointer;
        }
      }
    }
  }

  .active {
    display: block;
  }
}

.opacity {
  opacity: 0;
}



.headFixed {
  position: fixed;
  z-index: 5;
  opacity: 1;
  transition: all 1s ease 0s;
  //        transition: all 0.5s ease-in-out 0s;
  border-bottom: 2px solid #000;
}

.active {
  display: block;
}
